@import "~bootstrap/scss/bootstrap";
@import 'assets/styles/reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.home-navbar, .full-navbar{
    font-family: 'Poppins', sans-serif;
}

.mr-auto, .nav-link, .full-navbar, .home-navbar {
    background-color: #212121;
}

.padding-card {
    padding: 20px 5px;
}

.btn-default {
    background-color: white;
}
